 
 
 
 .servicios-contenedor{
   background-color: var(--color-principal);
   color: #ffff;
}
 .servicio{ 
    background-color: chartreuse;
}
 .servicios{
  width: 100%;
  background-color: var(--color-principal);
  margin: auto;
 }


 .brservicios{
   border-radius: 10px;
 }